.nav-bar {
  display: flex;
  align-items: center;
  background: #131212;
  color: #dbdad0;
  font-family: sans-serif;
  padding: 0px 0px;
  position: fixed;    /* changed from absolute to fixed */
  top: 2rem;
  right: 2rem;
  border: 1px solid #0c0b0b;
  z-index: 10;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  background: transparent;
  color: #dbdad0;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 10px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease;
  white-space: nowrap;

  border-radius: 0;             
  appearance: none;             /* suppress browser default styles */
  -webkit-appearance: none;     /* for Safari */
}


.nav-text {
  position: relative;
  z-index: 2;
}

.hover-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: #dbdad0; /* hover color */
  z-index: 1;
  transition: height 0.3s ease, background 0.2s;
}

/*hover colour */
.nav-link:hover .hover-fill {
  height: 100%;
  background: #cfc8a879;
}

/*active colour */
.nav-link.active .hover-fill {
  height: 100%;
  background: #dbdad0; /* active color */
    border-bottom: 1px solid #0c0b0b;

}

.nav-link:focus {
  outline: none;
  box-shadow: none;
}

.separator {
  color: #dbdad0;
  padding: 0 6px;
  font-size: 1rem;
  user-select: none;
}

/* Change text color to black on hover */
.nav-link:hover .nav-text {
  color: #131212;
}

/* Change text color to black and bold when active */
.nav-link.active .nav-text {
  color: #131212;
}

