.window-frame {
  background-color: #f3eeda;
  border: 2px solid #222;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  box-shadow: 4px 4px #000;
  font-family: 'VT323', monospace;
  z-index: 1000;
  position: relative;
  right: 0;
}

@media (min-width: 1024px) {
  .window-frame {
    top: 10rem;
    left: 20rem; 
  }
}

@media (max-width: 1280px) {
  .window-frame {
    top: 10rem;
    max-width: 500px;
        z-index: 9999;

  }
}

.window-top-bar {
  height: 28px;
  background-color: #727066;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between; /* 👈 this spreads title and controls */
  align-items: center;
  padding: 0 0.5rem;
  position: relative;
}

.player-title {
  font-size: 1rem;
  font-weight: bold;
  color: #c4bfa8;
  user-select: none;
}


.window-close {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  color: #222;
  user-select: none;
  position: relative;
  cursor: help;
}

.window-close::after {
  position: absolute;
  top: -2.7rem;
  left: 50%;
  transform: translateX(-55%);
  background-color: #f3eeda;
  color: #222;
  font-size: 1.1rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #222;
  box-shadow: 2px 2px #000;
  white-space: nowrap;
  z-index: 1001;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-family: "VT323", monospace;

}

.window-close:hover::after {
  opacity: 1;
}


.window-hyphen,
.window-square {
  font-size: 1.1rem;
  line-height: 1;
  font-weight: bold;
  color: #222;
  user-select: none;
  letter-spacing: 10px;
}

.window-body {
  padding: 1rem;
}
